
<!DOCTYPE html>
<html>
  <head>
    <title>File data microservice</title>
    <meta name="description" content="File data microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">
    
    <!-- font-awsome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>
  <body class="center-align transparent">
    <div class="container">
      
    <header>
      <h2 class="teal-text text-lighten-1">
        FILE DATA MICROSERVICE
      </h2>
    </header>

    <main>
      <!--<p>Enter a url to get the shortened one:</p>-->
      <form class="flow-text" enctype="multipart/form-data" method="post" action="/file" >
      
          <div class="file-field input-field" >
              <div class="btn">
                <span>File</span>
                <input type="file" size="50" name="">
              </div>
              <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>       
        </div>         
       
        <button class="btn waves-effect waves-light" type="submit">Submit
        <i class="material-icons right">send</i>
        </button>
        
      </form>
    </main>

    <footer>
A simple app created by RaphaelS<br/>
      <a href="https://github.com/RaphaelSh/URL-Shortener-Microservice/tree/master"> See on github <i class="fa fa-github" aria-hidden="true"></i></a>
          <input type="text" class="hidden_text" />

    </footer>
    </div>
    <!--hidden input for selecting text-->

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    
    <!-- materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
    <!--browserify-->
    <script src="https://wzrd.in/standalone/copy-to-clipboard@latest" async></script>

  </body>
</html>
